body{
	/*
	min-width: 620px;
	width: auto !important;
  width: 620px;
	*/
}
/* 1. Website logo */
.img-website-logo{
	margin: 15px auto;
	display: block;
	width: 600px;
}

/* 2. Navigation bar */
.div-nav-bar{
	margin-bottom: 10px;
}
.nav-link{
	color: #039be5 !important;
}
.nav-link:hover {
	background-color: #e1f3fc;
	color: #039be5;
	cursor: pointer;
}

/* 3. Image Carousel */
.carousel-image{
	width: 100%;
	height: 450px;
  repeat: no-repeat;
	position: center;
  size: cover;
}
.generalslide{
	height: 450px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide1{
  background-image: url('images/slide1.jpg');
}
.slide2{
  background-image: url('images/slide2.jpg');
}
.slide3{
  background-image: url('images/slide3.jpg');
}
.slide4{
  background-image: url('images/slide4.jpg');
}

/* 4. Three Cards */
.card-margin{
	margin-left: 2%;
	margin-right: 2%;
}
.card-title{
	text-align: center;
	font-size: x-large;
}
.learn-more{
	color: #039be5;
	padding: 8px;
}
.learn-more:hover{
	background-color: #e1f3fc;
	text-decoration: none;
	color: #039be5;
}
.text-center{
	text-align: center;
}

/* divider */
.divider{
	padding-left: 10%;
	padding-right: 10%;
	color: #e9c77b;
	padding-top: 20px;
	padding-bottom: 10px;
}
.blue-color{
	color: #039be5 !important;
}

/* <!-- 5. Daily Farm Data --> */
.daily-farm-data{
	text-align: center;
}
.data-graph{
	margin: auto;
	display: inline-block;
}
.each-data-graph{
	display: inline-block;
	width: 600;
	margin: auto;
}
/* <!-- 6. Live Video --> */
.live-video{
	padding-left: 15%;
	padding-right: 15%;
}

/* <!-- 6.5 Meet the team --> */
.senior-team{
	margin-left: 1%;
	margin-right: 1%;
}
.card-img-top{
}
.team-image{
	max-height: 300px;
	width: auto;
}
.card{
	border: none;
}
.btn-light{
	background-color: white;
	border: none;
	padding-top: 20px;
}
.btn-light:hover, .btn-light:active {
	background-color: #f8f9fa!important;
}
.team-image{
	max-height: 170px;
}
/* <!-- 7. Footer-Contact us --> */
.farm-location{
	width: 40%;
	height: 450px;
	margin-left: 10%;
	margin-right: 5%;
}
.margin-bottom-30px{
	margin-bottom: 30px;
}
.footer-description{
	font-size: large;
}
.footer-subtitle{
	text-transform:uppercase;
	font-size: large;
	font-weight: bold;
	color: #ef6c00;
	margin-bottom: 0;
}
.footer-lastline{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
}
.fish-box{

}
/* General use */
.title-center{
	text-align: center;
}
